Chunked encoding

during BODY parsing, handle Chunked encoding differently according to its weirdge format with chunk size thingies.

We'll have to take into account the `Transfer-Encoding` header and possible values. Keep [RFC 9112 Section 6.1](https://www.rfcreader.com/#rfc9112_line787) in mind when adding this, notably the part about closing connections when both `Transfer-Encoding` and `Content-Length` headers are present.

We'll need to respond with 501 when getting any other encoding that chunked.